<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Solar</title>
    <link rel="stylesheet" href="/css/Colors.css">
    <link rel="stylesheet" href="/css/Style.css">
    <script src="/js/Script.js"></script>
    <link rel="shortcut icon" href="Icon.svg" type="image/x-icon">
</head>
<body>
    <div class="Window">
        <form action="/Addclient" method="get">
            <Button class="BtnAdd" type="submit" onclick="ShowWindow()">
                <svg class="BtnIcon AddIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M10.5 20a1.5 1.5 0 0 0 3 0v-6.5H20a1.5 1.5 0 0 0 0-3h-6.5V4a1.5 1.5 0 0 0-3 0v6.5H4a1.5 1.5 0 0 0 0 3h6.5z"/></g></svg>
                <p class="MenuBtnText AddIcon">Agregar</p>
            </Button>
        </form>
        <!-- <div id="PopUp">
            <Button class="BlackBG" onclick="HideWindow()">
            </Button>
            <div class="AddPopup">
                <Div class="TitlePopUp">Nuevo empleado</Div>
                <div class="PublicProfile">
                    <div class="EditImg">
                        <img class="PublicProfileIMG" src="/assets/Profile.png" alt="">
                        <Button class="EditImgBtn">
                            <svg class="BtnIcon AddIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 9c-1.626 0-3 1.374-3 3s1.374 3 3 3s3-1.374 3-3s-1.374-3-3-3"/><path fill="currentColor" d="M20 5h-2.586l-2.707-2.707A1 1 0 0 0 14 2h-4a1 1 0 0 0-.707.293L6.586 5H4c-1.103 0-2 .897-2 2v11c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2m-8 12c-2.71 0-5-2.29-5-5s2.29-5 5-5s5 2.29 5 5s-2.29 5-5 5"/></svg>
                        </Button>
                    </div>
                    <div class="Data">
                        <input class="InputText" placeholder="Nombre" type="text">
                        <input class="InputText" placeholder="Apellidos" type="text">
                        <input class="InputText" placeholder="Perfil" list="ProfileOptions">
                        <datalist id="ProfileOptions">
                            <option value="Empleado">
                            <option value="Administrador">
                        </datalist>
                    </div>
                </div>
                <div class="Data">
                    <input class="InputText" placeholder="Apodo" type="text">
                    <input class="InputText" placeholder="Telefono" type="text">
                    <input class="InputText" placeholder="Correo" type="text">
                    <input class="InputText" placeholder="Contraseña" type="password">
                    <input class="InputText" placeholder="Descripción" type="text">
                    <Button class="Btn">Guardar</Button>
                </div>
            </div>
        </div> -->
    </div>


    <div class="ProfileImgBG">
        <form style="transition: 0.5s;" action="Profile" method="post">
            <button class="NoBtn" type="submit">
                <p class="ProfileText">Perfil</p>
            </button>
        </form>
        <img class="ProfileImg" src="/assets/Profile.png" alt="">
    </div>
    <div class="NavBar">
        <img class="NavLogo" src="/assets/LogoBlanco.png" alt="">
    </div>
    
    <div class="ButtonsSection">
        <form action="/" method="get">
            <Button class="MenuBtn">
                <svg class="BtnIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="16" stroke-dashoffset="16" d="M4.5 21.5h15"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.2s" values="16;0"/></path><path stroke-dasharray="16" stroke-dashoffset="16" d="M4.5 21.5v-13.5M19.5 21.5v-13.5"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.2s" dur="0.2s" values="16;0"/></path><path stroke-dasharray="28" stroke-dashoffset="28" d="M2 10l10 -8l10 8"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.4s" dur="0.4s" values="28;0"/></path><path stroke-dasharray="24" stroke-dashoffset="24" d="M9.5 21.5v-9h5v9"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s" dur="0.4s" values="24;0"/></path></g></svg>
                <p class="MenuBtnText">Inicio</p>
            </Button>
        </form>
        <form action="/clients" method="get">
            <Button class="MenuBtn">
                <svg class="BtnIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="20" stroke-dashoffset="20" d="M12 5c1.66 0 3 1.34 3 3c0 1.66 -1.34 3 -3 3c-1.66 0 -3 -1.34 -3 -3c0 -1.66 1.34 -3 3 -3Z"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.4s" values="20;0"/></path><path stroke-dasharray="36" stroke-dashoffset="36" d="M12 14c4 0 7 2 7 3v2h-14v-2c0 -1 3 -3 7 -3Z"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.5s" dur="0.5s" values="36;0"/></path></g></svg>
                <p class="MenuBtnText">Clientes</p>
            </Button>
        </form>
        <form action="/employees" method="get">
            <Button type="submit" class="MenuBtn">
                <svg class="BtnIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 28 28"><path fill="currentColor" d="M8.5 9.5a3.75 3.75 0 1 0 0-7.5a3.75 3.75 0 0 0 0 7.5M2 12.982C2 11.887 2.887 11 3.982 11h5.6a4.75 4.75 0 0 0 2.294 6H9.483a2.98 2.98 0 0 0-2.758 1.847c-2.005-.371-3.207-1.372-3.894-2.49C2 15.01 2 13.618 2 13.378zM16.123 17h2.395c1.245 0 2.312.763 2.758 1.847c2.005-.371 3.207-1.372 3.894-2.49c.83-1.348.83-2.74.83-2.98v-.395A1.98 1.98 0 0 0 24.018 11h-5.6a4.75 4.75 0 0 1-2.294 6M23.25 5.75a3.75 3.75 0 1 1-7.5 0a3.75 3.75 0 0 1 7.5 0M7.5 19.982C7.5 18.887 8.387 18 9.482 18h9.036c1.095 0 1.982.887 1.982 1.982v.395c0 .24 0 1.632-.83 2.98C18.8 24.773 17.106 26 14 26s-4.8-1.228-5.67-2.642c-.83-1.349-.83-2.74-.83-2.981zM14 16.5A3.75 3.75 0 1 0 14 9a3.75 3.75 0 0 0 0 7.5"/></svg>
                <p class="MenuBtnText">Empleados</p>
            </Button>
        </form>
        <Button class="MenuBtn">
            <svg class="BtnIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="72" stroke-dashoffset="72" d="M12 3h7v18h-14v-18h7Z"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="72;0"/></path><path stroke-dasharray="12" stroke-dashoffset="12" stroke-width="2" d="M14.5 3.5v3h-5v-3"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s" dur="0.2s" values="12;0"/></path><path stroke-dasharray="10" stroke-dashoffset="10" d="M9 13l2 2l4 -4"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.9s" dur="0.2s" values="10;0"/></path></g></svg>
            <p class="MenuBtnText">Inventario</p>
        </Button>
        <Button class="MenuBtn">
            <svg class="BtnIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="72" stroke-dashoffset="72" d="M12 3h7v18h-14v-18h7Z"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="72;0"/></path><path stroke-dasharray="12" stroke-dashoffset="12" stroke-width="1" d="M14.5 3.5v3h-5v-3"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s" dur="0.2s" values="12;0"/></path><path stroke-dasharray="4" stroke-dashoffset="4" d="M9 10h3"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.9s" dur="0.2s" values="4;0"/></path><path stroke-dasharray="6" stroke-dashoffset="6" d="M9 13h5"><animate fill="freeze" attributeName="stroke-dashoffset" begin="1.1s" dur="0.2s" values="6;0"/></path><path stroke-dasharray="8" stroke-dashoffset="8" d="M9 16h6"><animate fill="freeze" attributeName="stroke-dashoffset" begin="1.3s" dur="0.2s" values="8;0"/></path></g></svg>
            <p class="MenuBtnText">Cotización</p>
        </Button>
        <Button class="MenuBtn">
            <svg class="BtnIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="16" stroke-dashoffset="16" d="M12 3h7v8"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.2s" values="16;0"/></path><path stroke-dasharray="12" stroke-dashoffset="12" stroke-width="2" d="M14.5 3.5v3h-5v-3"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.9s" dur="0.2s" values="12;0"/></path><path stroke-dasharray="48" stroke-dashoffset="48" d="M19 17v4h-14v-18h7"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.2s" dur="0.6s" values="48;0"/></path><path stroke-dasharray="10" stroke-dashoffset="10" d="M21 14h-8.5"><animate fill="freeze" attributeName="stroke-dashoffset" begin="1.1s" dur="0.2s" values="10;0"/></path><path stroke-dasharray="6" stroke-dashoffset="6" d="M12 14l3 3M12 14l3 -3"><animate fill="freeze" attributeName="stroke-dashoffset" begin="1.3s" dur="0.2s" values="6;0"/></path></g></svg>
            <p class="MenuBtnText">Proyectos</p>
        </Button>
    </div>

    <div class="Content">
        <div class="TitleBG">
            <p class="Title">Bienvenid@ <%= Name %></p>
        </div>

        <div class="Table">
            <form action="/clients" method="get">
                <div class="TableTitleBG">
                    <p class="TableTitle"><%= TableName %></p>
                    <div class="TitleTableActions">
                        <div>
                            
                            <select name="ClientTypeF" id="Filter">
                                <option class="Filter" value="All" <%= ClientType === 'All' ? 'selected' : '' %>>Todo</option>
                                <option class="Filter" value="Panel"<%= ClientType === 'Panel' ? 'selected' : '' %>>Panel</option>
                                <option class="Filter" value="Irrigation"<%= ClientType === 'Irrigation' ? 'selected' : '' %>>Riego</option>
                            </select>
                            <select name="Filter" id="Filter">
                                <option class="Filter" value="IdCliente" <%= Filter === 'IdCliente' ? 'selected' : '' %>>Registro</option>
                                <option class="Filter" value="Nombre" <%= Filter === 'Nombre' ? 'selected' : '' %>>Nombre</option>
                                <option class="Filter" value="Estado" <%= Filter === 'Estado' ? 'selected' : '' %>>Estado</option>
                                <option class="Filter" value="Municipio" <%= Filter === 'Municipio' ? 'selected' : '' %>>Municipio</option>
                                <option class="Filter" value="Localidad" <%= Filter === 'Localidad' ? 'selected' : '' %>>Localidad</option>
                                <option class="Filter" value="Calle" <%= Filter === 'Calle' ? 'selected' : '' %>>Calle</option>
                                <option class="Filter" value="Telefono" <%= Filter === 'Telefono' ? 'selected' : '' %>>Telefono</option>
                                <% if (ClientType == 'All') { %>
                                    <option class="Filter" value="Correo" <%= Filter === 'Correo' ? 'selected' : '' %>>Correo</option>
                                    <option class="Filter" value="NoServicioCFE" <%= Filter === 'NoServicioCFE' ? 'selected' : '' %>>No de Servicio CFE</option>
                                    <option class="Filter" value="ReferenciaP" <%= Filter === 'ReferenciaP' ? 'selected' : '' %>>Referencia</option>
                                    <option class="Filter" value="Fecha" <%= Filter === 'Fecha' ? 'selected' : '' %>>Fecha</option>
                                <% } else if (ClientType == 'Panel') { %>
                                    <option class="Filter" value="Correo" <%= Filter === 'Correo' ? 'selected' : '' %>>Correo</option>
                                    <option class="Filter" value="NoServicioCFE" <%= Filter === 'NoServicioCFE' ? 'selected' : '' %>>No de Servicio CFE</option>
                                <% } else if (ClientType == 'Irrigation') { %>
                                    <option class="Filter" value="ReferenciaP" <%= Filter === 'ReferenciaP' ? 'selected' : '' %>>Referencia</option>
                                    <option class="Filter" value="Fecha" <%= Filter === 'Fecha' ? 'selected' : '' %>>Fecha</option>
                                <% } %>
                            </select>
                            <select name="Order" id="Filter">
                                <option class="Filter" value="ASC" <%= Order === 'ASC' ? 'selected' : '' %>>Ascendente</option>
                                <option class="Filter" value="DESC"<%= Order === 'DESC' ? 'selected' : '' %>>Descendente</option>
                            </select>
                            
                        </div>
                        <div>
                            <input name="Searcher" class="InputText Searcher" placeholder="Buscar" type="text" value="<%= Searcher %>">
                            <Button type="submit" class="NoBtn">
                                <svg class="SearcherIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="40" stroke-dashoffset="40" d="M10.76 13.24c-2.34 -2.34 -2.34 -6.14 0 -8.49c2.34 -2.34 6.14 -2.34 8.49 0c2.34 2.34 2.34 6.14 0 8.49c-2.34 2.34 -6.14 2.34 -8.49 0Z"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.5s" values="40;0"/></path><path stroke-dasharray="12" stroke-dashoffset="12" d="M10.5 13.5l-7.5 7.5"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.5s" dur="0.2s" values="12;0"/></path></g></svg>
                            </Button>
                        </div>
                    </div>
                </div>
            </form>
            <table class="TableData">
                <tr class="InfoTitleBG">
                    <td class="InfoTitleText ActionList">
                        <!-- <div class="RowButtons">
                            <Button class="SmallMenuBtn">
                                <svg class="SmallBtnIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1024 1024"><path fill="currentColor" d="M77.248 415.04a64 64 0 0 1 90.496 0l226.304 226.304L846.528 188.8a64 64 0 1 1 90.56 90.496l-543.04 543.04l-316.8-316.8a64 64 0 0 1 0-90.496"/></svg>
                                <p class="SmallMenuBtnText">Seleccionar</p>
                            </Button>
                        </div> -->
                    </td>
                    <td class="InfoTitleText">Nombre</td>
                    <td class="InfoTitleText">Estado</td>
                    <td class="InfoTitleText">Municipio</td>
                    <td class="InfoTitleText">Localidad</td>
                    <td class="InfoTitleText">Calle</td>
                    <td class="InfoTitleText">Telefono</td>
                    <%if(ClientType=='All'){%>
                        <td class="InfoTitleText">Correo</td>
                        <td class="InfoTitleText">No de servicio CFE</td>
                        <td class="InfoTitleText">Referencia</td>
                        <td class="InfoTitleText">Fecha</td>
                    <%} else if(ClientType=='Panel'){%>
                        <td class="InfoTitleText">Correo</td>
                        <td class="InfoTitleText">No de servicio CFE</td>
                    <%} else if(ClientType=='Irrigation'){%>
                        <td class="InfoTitleText">Referencia</td>
                        <td class="InfoTitleText">Fecha</td>
                    <%}%>
                </tr>
                <% Clients.forEach(function(Client) { %>
                    <tr class="ElementOfList">
                        <td class="InfoText ActionList">
                            <div class="RowButtons">
                                <!-- <input class="CheckBox" type="checkbox"> -->
                                <form action="/clientdetails/<%= Client.IdCliente %>" method="get">
                                    <Button class="SmallMenuBtn" type="submit">
                                        <svg class="SmallBtnIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M7 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-1"/><path d="M20.385 6.585a2.1 2.1 0 0 0-2.97-2.97L9 12v3h3zM16 5l3 3"/></g></svg>
                                        <p class="SmallMenuBtnText">Editar</p>
                                    </Button>
                                </form>
                            </div>
                        </td>
                        <td class="InfoText"><%= Client.Nombre %></td>
                        <td class="InfoText"><%= Client.Estado %></td>
                        <td class="InfoText"><%= Client.Municipio %></td>
                        <td class="InfoText"><%= Client.Localidad %></td>
                        <td class="InfoText"><%= Client.Calle %></td>
                        <td class="InfoText"><%= Client.Telefono %></td>
                        <%if(ClientType=='All'){%>
                            <td class="InfoText"><%= Client.Correo %></td>
                            <td class="InfoText"><%= Client.NoServicioCFE %></td>
                            <td class="InfoText"><%= Client.ReferenciaP %></td>
                            <td class="InfoText"><%= Client.Fecha %></td>
                        <%} else if(ClientType=='Panel'){%>
                            <td class="InfoText"><%= Client.Correo %></td>
                            <td class="InfoText"><%= Client.NoServicioCFE %></td>
                        <%} else if(ClientType=='Irrigation'){%>
                            <td class="InfoText"><%= Client.ReferenciaP %></td>
                            <td class="InfoText"><%= Client.Fecha %></td>
                        <%}%>
                    </tr>
                <% }) %>
            </table>
        </div>
    </div>
</body>
</html>